<article class="hero px-4">
  <div class="absolute left-0">
    <img class="pattern-cow" src="assets/imgs/pattern-cow.png" alt="" />
  </div>

  <img
    class="pattern-bg second"
    src="/assets/imgs/pattern-hero-bg.png"
    alt=""
  />
  <img class="pattern-bg" src="/assets/imgs/pattern-hero-bg.png" alt="" />

  <div class="relative h-full">
    <img class="absolute" src="/assets/imgs/patterns-rombos.png" alt="" />
    <img
      class="hero-pattern-title hero-pattern-title-star"
      src="/assets/imgs/hero-pattern-title-star.svg"
      alt="hero-pattern-title-star"
    />
    <img
      class="hero-pattern-title hero-pattern-title-top"
      src="/assets/imgs/hero-pattern-title.svg"
      alt="hero-pattern-title-top"
    />
    <!-- <h2 class="hero__subtitle mb-2">Estas listo para la diversión</h2> -->
    <h1 class="hero__title">COWGIRL PARTY</h1>
    <img
      class="hero-pattern-title hero-pattern-title-bottom"
      src="/assets/imgs/hero-pattern-title.svg"
      alt="hero-pattern-title-bottom"
    />
    <img class="hero__img" src="/assets/imgs/hero-img.png" alt="" />
  </div>
</article>
