<article class="hero px-4">
  <div class="absolute left-0">
    <img class="pattern-cow" src="assets/imgs/pattern-cow.png" alt="" />
  </div>

  <img
    class="pattern-bg second"
    src="/assets/imgs/pattern-hero-bg.png"
    alt=""
  />
  <img class="pattern-bg" src="/assets/imgs/pattern-hero-bg.png" alt="" />

  <div class="relative h-full">
    <img class="absolute" src="/assets/imgs/patterns-rombos.png" alt="" />
    <img
      class="hero-pattern-title hero-pattern-title-star"
      src="/assets/imgs/hero-pattern-title-star.svg"
      alt="hero-pattern-title-star"
    />
    <img
      class="hero-pattern-title hero-pattern-title-top"
      src="/assets/imgs/hero-pattern-title.svg"
      alt="hero-pattern-title-top"
    />
    <!-- <h2 class="hero__subtitle mb-2">Estas listo para la diversión</h2> -->
    <h1 class="hero__title">COWGIRL PARTY</h1>
    <img
      class="hero-pattern-title hero-pattern-title-bottom"
      src="/assets/imgs/hero-pattern-title.svg"
      alt="hero-pattern-title-bottom"
    />

    <div class="relative flex mt-6 z-50">
      <button
        class="btn mx-auto flex justify-center items-center w-12 h-12 border-[2px] border-[#83957e] bg-[#83957e] rounded-[50%]"
        (click)="play()"
      >
        <img class="w-4 ml-1" src="/assets/imgs/play-solid.svg" alt="play" />
      </button>
      <audio
        #music
        class="hidden"
        [controls]="true"
        [muted]="false"
        [loop]="true"
        [autoplay]="true"
      >
        <source src="/assets/multimedia/music.mp3" type="audio/mp3" />
      </audio>
    </div>

    <img class="hero__img" src="/assets/imgs/hero-img.png" alt="" />
  </div>
</article>
