<section class="date-section">
  <img class="date-section__bg" src="/assets/imgs/section-data-bg.png" alt="" />
  <img
    class="date-section__bg"
    src="/assets/imgs/date-section-pattern-bg.png"
    alt=""
  />
  <img
    class="date-section__bg date-section__bg--pattern__l"
    src="/assets/imgs/date-section-pattern-bg.png"
    alt=""
  />

  <img class="cactus-l" src="/assets/imgs/cactus-l.png" alt="" />
  <img class="cactus-r" src="/assets/imgs/cactus-r.png" alt="" />
  <img class="whisky" src="/assets/imgs/whisky.png" alt="" />
  <img class="herradura" src="/assets/imgs/herradura.png" alt="" />
  <img class="sheriff-i" src="/assets/imgs/sheriff-i.png" alt="" />
  <img class="sombrero" src="/assets/imgs/sombrero.png" alt="" />

  <article class="date-section__detail">
    <div class="date-section__detail__first mb-7">
      <!-- <h3 class="text-center text-[#360602] mb-2">Celebremos juntos</h3> -->
      <h1 class="text-center text-2xl text-[#360602] mb-1">Happy birthday</h1>
      <h2
        class="date-section__detail__title text-center text-7xl text-[#360602]"
      >
        ROSA
      </h2>
    </div>

    <div class="date-section__detail__second w-[300px]">
      <img class="date-pattern-line" src="/assets/imgs/date-section-pattern-line.png" alt="" />
      <div class="flex justify-center items-center py-3">

        <div class="text-center">
          <span class="text-2xl text-white"> Sáb. </span>
        </div>

        <div class="date-section__line mx-5"></div>

        <div class="text-center">
          <span class="block text-4xl text-white mb-[-30px]"> 20 </span>
          <br />
          <span class="text-xl text-white"> Enero </span>
        </div>

        <div class="date-section__line mx-5"></div>

        <div class="flex items-center justify-center">
          <span class="text-center text-2xl text-white"> 11 am </span>
        </div>
      </div>
      <img class="date-pattern-line" src="/assets/imgs/date-section-pattern-line.png" alt="" />
    </div>
  </article>
</section>
