<section class="location-section">
  <div class="p-4">
    <img
      class="location-section__bg"
      src="/assets/imgs/section-data-bg.png"
      alt=""
    />

    <img
      class="location-section__bg"
      src="/assets/imgs/location-section-bg.png"
      alt="location-section-bg"
    />

    <div class="flex flex-col items-center -translate-y-1/4 relative z-10">
      <video class="mb-6" src="/assets/video/casa-mamape.mp4" controls></video>

      <article class="location-section__message mb-5">
        <h2
          class="location-section__subtitle text-center text-xl text-[#360602] mb-2"
        >
          Nos encontraremos en
        </h2>
        <h1 class="location-section__title text-center text-5xl text-[#360602]">
          CASA MAMAPE
        </h1>
      </article>

      <a
        class="location-section__btn"
        href="https://maps.app.goo.gl/vktACUe6fefxPRcs8"
        target="_blank"
      >
        <img src="/assets/imgs/location-icon.svg" alt="location-icon" />
      </a>
    </div>

    <img
      class="location-flags"
      src="/assets/imgs/location-flags.png"
      alt="location-flags"
    />
  </div>
</section>
